<% login_notice = t('login.notice', default: '') %>
<%= render 'messages' %>

<div class="container">
  <% unless login_notice.blank? %>
  <div class="notice box">
    <i class="icon-info"></i> <%= login_notice %>
  </div>
  <% end %>
  <div class="login box">    
    <div class="logo">
       <%= image_tag "orange/3.jpg" %>
    </div>

    <div class="form">
      <%= form_tag(login_path, method: :post, id: 'login-form') do %>
        <%= hidden_field_tag :lt, CASino::LoginTicket.create.ticket %>
        <%= hidden_field_tag :service, params[:service] %>
        <%= label_tag :username, t('login.label_username') %>
        <%= text_field_tag :username, params[:username], autofocus:true %>
        <%= label_tag :password, t('login.label_password') %>
        <%= password_field_tag :password %>
        <%= label_tag :rememberMe do %>
          <%= check_box_tag :rememberMe, 1, params[:rememberMe] %> <%= t('login.label_remember_me') %>
        <% end %>
          <%= button_tag t('login.label_button'), :id => "submit_button",:class => 'button btn btn-primary pull-right' %>
      <% end %>
      <%if !params[:service]%>
          <%= button_tag t('login.label_button_educa'),:id => 'educa_button', :class => 'button btn btn-primary pull-right' %>
          <%= button_tag t('login.label_button_mooc'),:id => 'mooc_button', :class => 'button btn btn-primary pull-right' %>
      <%end%>
    </div>
  </div>

</div>

<%if !params[:service]%>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#submit_button").hide();
      $("#educa_button").click(function(){
        $("#service").val("http://educainternet.es");
        $("#submit_button").click();
      });
      $("#mooc_button").click(function(){
        $("#service").val("http://moodle.educainternet.es/my");
        $("#submit_button").click();
      });
    });
  </script>
<%end%>