<footer id="footer" class="container-fluid hidden-sm">

  <nav class="footercontent">
    <ul class="ul-content">
      <!-- orange brand -->

      <!-- terms of use -->
      <li class="item_footer">
        <a href="http://www.orange.es" target="_new"><img src="/assets/orange/logo_orange.png"></a>
        <div class="links">
          <a href="<%=CASinoApp::Application.config.APP_CONFIG["vish_url"]%>/legal_notice"><%=t('orange_front.footer.legal')%></a> |
          <a href="<%=CASinoApp::Application.config.APP_CONFIG["vish_url"]%>/privacy_policy"><%=t('orange_front.footer.privacity')%></a> |
          <a href="<%=CASinoApp::Application.config.APP_CONFIG["vish_url"]%>/conditions_of_use"><%=t('orange_front.footer.conditions')%></a> |
          <a href="http://www.orange.es/static/html/cookies.html" target="_blank"><%=t('orange_front.footer.cookies')%></a>
          <!--<a href="contributors"><%#=t('orange_front.footer.contributors')%></a>-->
        </div>
        <div class="copyright">© Orange 2015 <%=t('orange_front.footer.rights ')%></div>
        <div class="clear"></div>
      </li>

      <!-- language
      <li class="dropup">
        <div data-toggle="dropdown" class="btn dropdown-toggle">
          <% the_locale = I18n.locale.to_s %>
          <span class="ddfootertitle"><%=image_tag("flags/" + the_locale + ".png", :title=>the_locale, :class=> "")%><%=t('lang.title')%></span>

        </div>
          <ul class="dropdown-menu">
            <%# for locale in (I18n.available_locales.map{|i| i.to_s}) -%>
             <li class="">
                <%#= link_to image_tag("flags/" + locale + ".png", :title=>locale, :class=> "") + " " + t(:language_name, :locale => locale), session_locale_path(:new_locale => locale), :method => :post, :remote => false %>
              </li>
            <%# end %>
          </ul>
      </li>-->
    </ul>
  </nav>
</footer>
